.cart-badge {
    position: fixed;
    right: 30px;
    top: calc(80px);
    border-radius: 50%;
    box-shadow: -1px 1px 4px #888888;
    z-index: 9999;
}

.modal__button {
    display: flex;
    background-color: var(--color-header);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.packet {
    stroke: var(--color-text-header);
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

.cart-badge__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--color-text-header);
    color: var(--color-header);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    right: -2px;
    top: -2px;
}