
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Libre+Baskerville&family=Montserrat:wght@400;600&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-header: rgb(255, 255, 255);
    --color-text-header: #7c7669;
    --color-text-subtitles: rgb(145,140,116);
    --font-text-menu-p: rgb(163,159,150);
    --color-text-paragrapf: rgb(183,190,198);
    --background-color: #f6f1ed;
    --heard--burger--color:rgb(255, 252, 250);
    --burger--menu--color: #706c6c;
    --footer--background--color:rgba(192, 191, 168);
    --social--logo--second--color:rgba(50, 48, 48, 0);
    --social--logo--first--color:#9d9895;
    --social--frame--color:rgb(118, 115, 113);
    --social--background--first--color:rgba(0, 0, 0, 0);
    --social--background--second--color:#816f65;
    --email-input-background-color:rgb(146, 169, 146);
    --font-text-menu-h: 'Montserrat', serif;
    --font-text-menu-s: 'Roboto', serif;
    --font-text-menu-p: 'Dancing Script', serif;
    --w-title-offset: 62px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
 
img {
    
    max-width: 100%;
    max-height: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}