.our-flowers-container {
  margin: auto;
  background-color: var(--background-color);
  padding: 50px 100px;
}

.our-flowers__info {
  margin-top: 90px;
}

.our-flowers__name {
  color: var(--color-text-paragrapf);
  font-family: var(--font-text-menu-p);
  font-size: 25px;
  padding-bottom: 20px;
  text-align: center;
}

.our-flowers__title {
  color: var(--color-text-header);
  font-family: var(--font-text-menu-h);
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.our-flowers__subtitle {
  color: var(--color-text-subtitles);
  font-family: var(--font-text-menu-s);
  font-size: 25px;
  padding-bottom: 20px;
}

.our-flowers__tabs-btn {
  display: flex;
  justify-content: center;
}

.tab__head-link {
  padding: 15px 20px;
  color: var(--color-text-header);
  font-family: var(--font-text-menu-s);
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: none;
}

.tab__head-link:hover {
  color: var(--color-text-subtitles);
  text-decoration: underline;
}

.tab-item__info-interaction a {
  text-decoration: none;
}

.tab-item__info-interaction a:hover {
  text-decoration: underline;
  color: var(--footer--background--color);
}

.tab-item__title {
  margin-top: 25px;
  font-size: 19px;
  font-weight: 700;
  color: var(--color-text-header);
  font-family: var(--color-text-header);
}

.tab-item__price-section {
  display: flex;
  align-items: center;
}

.tab-discount {
  margin-right: 16px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-text-paragrapf);
  font-family: var(--color-text-header);
  text-decoration: line-through;
}

.price-section__actual-price {
  font-size: 19px;
  font-weight: 700;
  color: var(--color-text-header);
}

.samis-button_link-container{
  margin-top: 30px; 
  margin-bottom: 105px;
}

.samis-button  {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--background-color);
  color: var(--color-text-subtitles);
  text-align: center;
  font-size: 16px;
  font-weight: 650;
  height: 46.08px;
  width: 164px;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid var(--color-text-subtitles);
  margin: 0px 15px 0px 15px;
}

.samis-button:hover {
  background-color: var(--color-text-subtitles);
  color: var(--background-color);
}

.item_add:hover {
  background-color: var(--footer--background--color);
}

.tab-products {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 0 24px;
}

@media (min-width: 768px) {
  .new-products__title {
      font-size: 41px;
  }
  .tab-products {
      grid-template-columns: 1fr 1fr;
  }

} 

@media (min-width: 992px) {
  .new-products__title {
      font-size: 48px;
  }
  .tab-products {
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}